<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>Bao Hiem</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
</head>
<body>
<nav class="navbar navbar-expand shadow navbar-light bg-light">
    <div class="container">
        <div class="collapse navbar-collapse justify-content-between" id="navbarTogglerDemo01">
            <a class="navbar-brand" href="/">Trang chủ User</a>
            <form name="logoutForm" th:action="@{/logout}" method="post" >
                <button class="btn btn-outline" type="submit">Đăng xuất</button>
            </form>
        </div>
    </div>
</nav>
<div class="container d-flex justify-content-center">
    <div class="card shadow  mt-5">
        <div class="card-body p-5">
            <h3 class="card-title mb-5 text-center">Thông tin tài khoản</h3>
            <div class="row">
                <div class="col-6 mb-3 ">
                    <label class="form-label">Mã số bảo hiểm</label>
                    <input readonly th:value="${user.getUsername()}" type="text" class="form-control">
                </div>
                <div class="col-6 mb-3 ">
                    <label class="form-label">Họ và tên</label>
                    <input readonly th:value="${user.getName()}" type="text" class="form-control">
                </div>
                <div class="col-6 mb-4 ">
                    <label class="form-label">Số CCCD/CMND</label>
                    <input readonly th:value="${user.getCccd()}" type="text" class="form-control">
                </div>
                <div class="col-6 mb-4 ">
                    <label class="form-label">Số điện thoại</label>
                    <input readonly th:value="${user.getPhone()}" type="text" class="form-control">
                </div>
                <div class="col-6 mb-4 ">
                    <label class="form-label">Ngày thanh toán</label>
                    <input readonly th:value="${user.getPayment_date()}" type="date" class="form-control">
                </div>
                <div class="col-6 mb-4 ">
                    <label class="form-label">Hạn bảo hiểm</label>
                    <input readonly th:value="${user.getDue_date()}" type="date" class="form-control">
                </div>
                <div class="col-12 border-bottom mb-4"></div>
                <div class="col-6">
                    <h5>Số tiền cần thanh toán: </h5>
                </div>
                <div class="col-6 d-flex justify-content-end">
                    <h5 th:text="${amount}"></h5>
                </div>
                <div class="col-12 d-flex justify-content-end mt-4">
                    <a class="btn btn-success">Thanh toán</a>
                </div>
            </div>
        </div>
    </div>
</div>
</body>

</html>